* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.figma {
  width: 180px;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.figma__part {
  width: 90px;
  height: 90px;
}
.figma__part-1 {
  background-color: #ee4e2a;
  border-radius: 50% 0 0 50%;
}

.figma__part-2 {
  background-color: #fb7266;
  border-radius: 0 50% 50% 0;
}

.figma__part-3 {
  background-color: #a061fa;
  border-radius: 50% 0 0 50%;
}

.figma__part-4 {
  background-color: #2ebdfa;
  border-radius: 50%;
}

.figma__part-5 {
  background-color: #00ce94;
  border-radius: 50% 0 50% 50%;
}
