* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.batman__border {
  background-color: yellow;
  height: 180px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.batman__inner-border {
  height: 155px;
  width: 275px;
  background-color: black;
  border-radius: 50%;
  position: relative;
}
.batman__circle {
  position: absolute;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: yellow;
  top: -2px;
}
.batman__circle1 {
  left: 25%;
}
.batman__circle2 {
  right: 25%;
}
.batman__square {
  position: absolute;
  width: 27px;
  height: 27px;
  background-color: yellow;
}
.batman__square1 {
  top: 0%;
  left: 33%;
}
.batman__square2 {
  top: 0%;
  right: 33%;
}
.batman__top-head {
  position: absolute;
  width: 40px;
  border-right: solid 10px transparent;
  border-bottom: solid 22px yellow;
  border-left: solid 10px transparent;
  transform: rotate(180deg);
  top: -2px;
  left: 117.5px;
}
.batman__oval {
  position: absolute;
  height: 76px;
  width: 46px;
  border-radius: 50%;
  background-color: yellow;
}
.batman__oval1 {
  bottom: -17px;
  left: 19%;
  transform: rotate(-42deg);
}
.batman__oval2 {
  bottom: -18px;
  left: 33%;
  transform: rotate(-18deg);
}
.batman__oval3 {
  bottom: -18px;
  right: 33%;
  transform: rotate(18deg);
}
.batman__oval4 {
  bottom: -17px;
  right: 19%;
  transform: rotate(42deg);
}
